* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(207, 207, 168, 0.6);
    z-index: -1;
}

#bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
}

#flb {
    display: flex;
    height: 85vh;
    width: 100vw;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgba(148, 144, 124, 0.6);
    border: 6px solid rgb(41, 37, 30, 0.4);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    padding: 15px;
    padding-bottom: 0;
    overflow-y: hidden;
    flex-shrink: 1;
    flex-grow: 1;
}

#side {
    display: flex;
    flex-direction: column;

    margin-left: 100px;
    margin-right: 50px;
    width: 100%;
    height: 100%;

}

#mt {
    display: flex;
    height: 200px;
    width: 100%;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10px 0
}

#img-container {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    overflow: hidden;
}

#sherbimg {
    display: block;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#hd {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 6px solid rgb(41, 37, 30, 0.4);

}

.opt {
    display: flex;
    height: 70%;
    background-color: rgb(202, 180, 132);
    margin: 0 20px;
    border: 3px solid rgb(134, 114, 70);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-grow: 10;
    flex-shrink: 1;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #281c14;
}

.opt:hover {
    background-color: rgb(172, 152, 113)
}

#bd {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-top: 15px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

#bd::-webkit-scrollbar {
    width: 10px;
}

#bd::-webkit-scrollbar-track,
#bd::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}


#bd::-webkit-scrollbar-thumb:hover,
#bd::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.7);
}

.cnt {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border: 3px solid black;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#name {
    color: #281c14;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    background-color: rgb(172, 152, 113);
    padding: 0px 40px 8px 40px;
    border-radius: 20px;
}

#date {
    color: #281c14;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    text-align: center;
    background-color: rgb(172, 152, 113);
    padding: 0px 30px 8px 30px;
    border-radius: 20px;
    font-style: italic;
    margin-top: -26px;
}

#org {
    padding: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    text-align: center;
}

#fin {
    background-color: #afad98;
    z-index: 100;
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.finfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    margin: 0 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-right: 5px solid #7c7a5c;
    border-left: 5px solid #7c7a5c;
    z-index: 100;
    background: #c0bea4;
    padding: 8px;
    justify-content: start;
}

.year {
    color: #281c14;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.medal {
    color: #281c14;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

.memg {
    height: 60%;
    overflow: hidden;
}

.sec {
    width: 100%;
    display: none;
    min-height: fit-content;

}

.activate {
    display: flex;
    position: relative;
}

#bio {
    flex-direction: column;
    justify-content: space-around;


}

#vid {
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}

#vid div {
    display: flex;
    margin: 40px;
    height: 500px;
    width: 90%;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 30px;
    scroll-snap-align: start;
    background-color: rgba(0, 0, 0, 0.3);
    ;
}

#vid div iframe {
    border-radius: 20px;
}

#vid div:last-child {
    margin-bottom: 300px;
}

#tst {
    flex-direction: column;
}